/*
 author:Abu Saleh;
 Email:abusaleh1666@gmail.com;
 Website:;
/*

/*
 =========index=========
 	
 	1.Header
 	2.Fusce at 
 	3.Facilisis
 	4.Ante donec
 	5.Blandit rhoncus
 	6.Placerat
 	7.Footer

/*

/* Global CSS */


@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&family=Roboto:wght@300;400&display=swap');

body{

	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}



.img-center{
	display: block;
	margin: 0 auto;

}

.no-padding{
	padding: 0px;
}

h1{

}

h2{

}

h3{

}

h6{

}

p{

}

.cstm-btn-one{
	padding: 10px 20px;
    background: black;
    color: white;
    border: navajowhite;
    border-radius: 12px;
    margin-top: 20px;
    
}

.cstm-btn-two{
	
}

/* custom theme css */


*{
	padding: 0px;
	margin: 0px;
}

.nav-head{
	
}


.nav-link{
	color: #FF589B!important;
	
}

.nav-item{
	padding: 0px 10px;
}

.nav-link.js-scroll-trigger.active {
    background: #dd4b2b;
    padding: 7px 22px;
    color: #ffffff!important;
    border-radius: 27px;
}



.homepage{
	width: 100%;
	height: 858px;
	background:url(../img/bg-1.png)no-repeat center;
	padding: 223px 0px;

	
}


.carousel-indicators li{
	background-color: #ffa500a6!important;
    border-radius: 15px!important;
}

.carousel-indicators .active {
    opacity: 1;
}

.slide-bg{
	padding-top: 8%;
}


.img-slider{
	width: 370px;
	
}

.slide-content{
	padding: 45px 15px;
}

.slide-content h2{
	font-size: 41px;
}

.slide-content p{
	color: #FF589B;
	font-size: 18px;
	padding: 15px 0px;
	width: 453px;
}


.products{
	width: 100%;
 	padding: 25px 0px;
 	
}


.products-title{
    padding: 25px 0px;
}


.products-title h3{
	font-size: 23px;
}

.products-title h4{
	font-size: 20px;
	color: #F69800;
}

.card-image{
	display: block;
    margin: 0 auto;
}


.products-details{
	text-align: center;
}

.products-details h5{
	font-size: 20px;
}

.products-details p{
	color: #FF589B;
}


.catagories{
	padding: 25px 0px;
}

.catagories-title span {
    border-bottom: 5px solid orange!important;
    display: block;
    width: 15%;
    margin: 0 auto;
}


.left-images{

}

.one{

}

.one img{
	position: relative;
    top: 32%;
}

.one h5{
	position: absolute;
    top: 79%;
    right: 67%;
}

.two{

}

.cat-beuaty{
	position: relative;
    top: 29px;
    right: 36px;	
}
	

.two h5{
	position: relative;
    top: 50px;
}


.cat-shoes{
	position: relative;
    top: 61px;
    right: 42px;
}

.right-main-image{
	position: relative;
    top: 76px;
}



/*Media quary*/

/*Mobile device*/


@media(max-width:600px){
	.img-slider {
    width: 370px;
    display: block;
    margin: 0 auto;
	}

.slide-content {
    padding: 45px 15px;
    text-align: center;
	}

	.homepage {
    width: 100%;
    height: 903px;
    background: url(../img/bg-1.png)no-repeat center;
	}

.products-title {
    padding: 8px 0px;
    text-align: center;
	}
    

    .one img {
    position: relative;
    top: 32%;
    left: 168px;
}

.one h5 {
    position: absolute;
    top: 143%;
    right: 45%;
}

 .cat-beuaty {
    position: relative;
    top: 118px;
    left: 158px;
}

.cat-shoes {
    position: relative;
    top: 140px;
    right: -158px;
}

.two h5 {
    position: relative;
    top: 50px;
    right: -7px;
}


}



/*small Device*/

@media(min-width:600.1px) and (max-width:768px){
    
	.one img {
    position: relative;
    top: 23%;
    left: 192px;

}

.one h5 {
    position: absolute;
    top: 130%;
    right: 47%;
}


/*Medium Device*/


@media(min-width:768.1px) and (max-width:992px){

	

}

/*Large Device*/

@media(min-width:992.1px) and (max-width:1200px){
	
}


/*Extra Large*/

@media(min-width:1200.1px){
    
}

/*Custom Device*/

@media(min-width:576px) and (768px){
    
}